<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ user }}</title>
  </head>
  <body>
    <h1>{{ user }}</h1>

    <!-- [START greetings]
      {% for greeting in greetings %}
      <div class="row">
        {% if greeting.author %}
          <b>{{ greeting.author.email }}
            {% if user and user.user_id() == greeting.author.identity %}
              (You)
            {% endif %}
          </b> wrote:
        {% else %}
          An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
      </div>
      {% endfor %}
      END greetings] -->

    <div>
      {% for entry in entries %}
        <h3>{{ entry.author.name }}</h3>
        {{ entry.body }}
        <h5>{{ entry.date.strftime("%H:%M:%S | %b %d %Y") }}</h5>
      {% endfor %}
    </div>

    <form method="post" action="">
      <input type="text" name="author_name" value="">
      <input type="textarea" name="entry_body" value="">
      <input type="submit" value="Create entry">
    </form>

  </body>
</html>
